.tasks {
    display: flex;
    justify-content: space-between;

    padding: 7px 8px;
    margin-top: 15px;
    margin-right: 12px;

    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #000000;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
}

.tasks p {
    max-width: 220px;
    overflow: hidden;
}

.tasks svg {
    width: 15px;
    height: 15px;

    opacity: 0;
    transition: 0.3s;
    cursor: pointer;
}

.tasks:hover svg{
    opacity: 1;
}