.mySelect {
    padding: 7px 8px;
    margin-top: 15px;
    margin-right: 12px;

    background: #FFFFFF;
    border-radius: 5px;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    overflow: hidden;
}

.mySelect select {
    width: 100%;

    background: #FFFFFF;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    outline:none;
    cursor: pointer;
}