.myButtonAdd {
    display: flex;
    justify-content: left;
    width: 102px;
    height: 29px;
    margin-top: 12px;
    padding: 6px 0;
    

    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    color: #5E6C84;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
}

.myButtonAdd svg {
    margin-right: 4px;
    margin-top: 2px;
    margin-left: 6px;
}

.myButtonAdd:hover {
    transform: scale(0.9);
}

.myButtonAdd:active {
    transform: scale(1.1);
}
.myButtonAdd:disabled {
    cursor: auto;
    background: transparent;
    transform: none;
}